<h1>Products</h1>

<table class="table table-bordered" style="margin-top: 10px;">
    <thead>
        <tr>
            <th>Product Id</th>
            <th>Image</th>
            <th>Product Name</th>
            <th>Category Name</th>
            <th>Height</th>
            <th>Width</th>
            <th>Length</th>
            <th>Material</th>
            <th>Color</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody *ngFor="let item of lstOrder;">
        <tr>
            <td>{{item.productId}}</td>
            <td>{{item.image}}</td>
            <td>{{item.productName}}</td>
            <td>{{item.categoryName}}</td>
            <td>{{item.height}}</td>
            <td>{{item.width}}</td>
            <td>{{item.length}}</td>
            <td>{{item.material}}</td>
            <td>{{item.color}}</td>
            <td>{{item.price}}</td>
            <td>{{item.stock}}</td>
            <td>{{item.notes}}</td>
        </tr>
    </tbody>
</table>