<h1 id="tableLabel">Product</h1>
<p>This component demonstrates products from the server.</p>
<p *ngIf="!products"><em>Loading...</em></p>
<button class="btn btn-success" (click)="openModal(false,null)">Add new product</button>

<table class='table table-striped' style="margin-top: 10px;" aria-labelledby="tableLabel" *ngIf="products.totalRecord>0">
  <thead>
    <tr>
      <th>Product Id</th>
        <th>Product Name</th>
        <th>CategoryId</th> 
        <th>CategoryName</th> 
        <th>Height</th> 
        <th>Width</th> 
        <th>Length</th> 
        <th>Material</th> 
        <th>Color</th> 
        <th>Price</th> 
        <th>Stock</th> 
        <th>Image</th> 
        <th>Notes</th> 
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of products">
      <td>{{ item.productId }}</td>
      <td>{{ item.productName }}</td>
      <td>{{ item.categoryId }}</td> 
      <td>{{ item.categoryName }}</td> 
      <td>{{ item.height }}</td> 
      <td>{{ item.width }}</td> 
      <td>{{ item.length }}</td> 
      <td>{{ item.material }}</td> 
      <td>{{ item.color }}</td> 
      <td>{{ item.price }}</td> 
      <td>{{ item.stock }}</td> 
      <td>{{ item.image }}</td> 
      <td>{{ item.notes }}</td>
      <td>
        <button class="btn btn-info" style="margin-right: 15px;" (click)="openModal(true,i)">Edit</button>
        <button class="btn btn-danger">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
<ul class="pagination">
  <li class="page-item">
      <a href="javascript:void(0)" (click) = "searchPrevious()">Trước</a>
  </li>
  <li class="page-item" style="margin-left: 5px;">{{products.page}}</li>
  <li class="page-item" style="margin-left: 5px;">
      <a href="javascript:void(0)" (click) = "searchNext()">Sau</a>
  </li>
</ul>
<!-- Modal -->
<div class="modal fade" id="modalProduct" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 *ngIf="!isEdit" class="modal-title" id="exampleModalLongTitle">Add new product</h5>
        <h5 *ngIf="isEdit" class="modal-title" id="exampleModalLongTitle">Edit product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-2">Product ID</div>
          <div class="col-3">
            <input *ngIf="isEdit" type="text" [disabled]="isEdit" class="form-control" [(ngModel)]="product.productId"/>
          </div>
          <div class="col-2">Product Name</div>
          <div class="col-5">
            <input type="text" class="form-control" [(ngModel)]="product.productName"/>
          </div>
        </div>
        <br/>
          <div class="col-2">Categpry ID</div>
          <div class="col-4">
            <select class="form-control" [(ngModel)]="product.categoryId">
              <option value="1">Beverages</option>
              <option value="2">Condiments</option>
              <option value="3">Confections</option>
              <option value="4">Dairy Products</option>
              <option value="5">Grains/Cereals</option>
              <option value="6">Meat/Poultry</option>
            </select>
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-4">Quantity Per Unit <br/>
            <input type="text" class="form-control" [(ngModel)]="product.quantityPerUnit"/>
          </div>
          <div class="col-4">Unit Price <br/>
            <input type="text" class="form-control" [(ngModel)]="product.unitPrice"/>
          </div>
          <div class="col-4">Unit In Stock <br/>
            <input type="text" class="form-control" [(ngModel)]="product.unitsInStock"/>
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-4">Unit On Order <br/>
            <input type="text" class="form-control" [(ngModel)]="product.unitsOnOrder"/>
          </div>
          <div class="col-4">Reorder Level <br/>
            <input type="text" class="form-control" [(ngModel)]="product.reorderLevel"/>
          </div>
          <div class="col-4">Discontinued <br/>
            <input type="checkbox" class="form-control" [(ngModel)]="product.discontinued"/>
          </div>
        </div>
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button *ngIf="!isEdit" type="button" class="btn btn-primary" (click)="createProduct()">Create</button>
        <button *ngIf="isEdit" type="button" class="btn btn-success" (click)="saveProduct()">Save</button>
      </div>
    </div>
  </div>
</div>




<!-- <h1 id="tableLabel">Category</h1>
<p>...</p>
<p *ngIf="!list"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="list">
    <thead>
      <tr>
        <th>Product Id</th>
        <th>Product Name</th>
        <th>CategoryId</th> 
        <th>CategoryName</th> 
        <th>Height</th> 
        <th>Width</th> 
        <th>Length</th> 
        <th>Material</th> 
        <th>Color</th> 
        <th>Price</th> 
        <th>Stock</th> 
        <th>Image</th> 
        <th>Notes</th> 
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of list">
        <td>{{ item.productId }}</td>
        <td>{{ item.productName }}</td>
        <td>{{ item.categoryId }}</td> 
        <td>{{ item.categoryName }}</td> 
        <td>{{ item.height }}</td> 
        <td>{{ item.width }}</td> 
        <td>{{ item.length }}</td> 
        <td>{{ item.material }}</td> 
        <td>{{ item.color }}</td> 
        <td>{{ item.price }}</td> 
        <td>{{ item.stock }}</td> 
        <td>{{ item.image }}</td> 
        <td>{{ item.notes }}</td> 
      </tr>
    </tbody>
  </table> -->
