<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a href="https://www.facebook.com/nguyentu.299"><i class="fa fa-facebook-square"></i>Facebook</a></li>
                    <li><a href="https://www.instagram.com/thanhtunguyenn"><i class="fa fa-instagram"></i>Instagram</a></li>
                    <li><a href="https://www.github.com/thanhtu2909"><i class="fa fa-github"></i>Github</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}}, Made by Thanh Tu Nguyen
                </span>
            </div>
        </div>
    </div>
</footer>
