<div class="page-header section-dark" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/tconcept-e8cbc.appspot.com/o/SofaPage.jpg?alt=media&token=faaa9e2e-0563-44b0-aad3-80b2106c8374')">
    <div class="filter"></div>
    <div class="content-center">
        <div class="container">
            <div class="title-brand">
                <h1 class="presentation-title">SOFA</h1>
                <div class="fog-low">
                    <img src="assets/img/fog-low.png" alt="">
                </div>
                <div class="fog-low right">
                    <img src="assets/img/fog-low.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
    <h6 class=" category-absolute ml-auto mr-auto">Thanh Tu Nguyen Corp</h6>
</div>



<div class="container">
    <div class="all-product">
      <div class="title">Tất cả sản phẩm - Sofa</div>
      <div class="sofa-product">
        <div class="row">
          <div class="col-md-4" *ngFor="let item of listProduct">
            <div class="sofa-box">
              <a (click)="handleClickProduct(item.productId)"  class="product-item">
                <div class="img-product">
                  <img src={{item.image}} alt="img">
                </div>
                <div class="sofa-name text-center">{{item.productName}}</div>
                <div class="text-center">{{item.notes}}</div>
                <div class="text-center">{{formatter.format(item.price)}}</div>
              </a>
            </div>
          </div> 
  
        </div>
      </div>
    </div>
  </div>