a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
  }

.nameInfo {
  padding-top: 50px;
  padding-left: 30px;
}

.info {
  padding-top: 50px;
}

.action {
  padding-top: 40px;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
